.container{
    background-color: #f5f5f5;
    width: 60%;
    padding: 50px;
    margin: 100px;
}
.container .testimonials{
    width: 90%;
    height: 20%;
    background-color: white;
    border-radius: 5px;
    border:1px solid grey ;
    margin: 10px;
    
}
p .para{
    
    padding: 10px;
}
.name{
    text-align: right;
}